<!-- /partials/nav-reis.html -->
<nav class="navbar">
    <div class="navbar-inner">
        <a class="navbar-brand" href="/reis/index.html">
            ✈️ Reisbureau
        </a>

        <ul class="navbar-menu">
            <li><a href="/reis/vlucht-boeken.html">Vlucht boeken</a></li>
            <li><a href="/reis/ticket-scan.html">Ticket scannen</a></li>
            <li><a href="/reis/mystery-trip.html">Mystery Trip</a></li>
            <li><a href="/reis/last-minutes.html">Last-minutes</a></li>
            <li><a href="/reis/vliegvelden-kaart.html">Vliegveldenkaart</a></li>
            <li><a href="/reis/co2-calculator.html">CO₂-berekening</a></li>
            <li><a href="/reis/chatbot.html">Chatbot</a></li>
            <li class="navbar-right">
                <a href="/reis/mijn-reizen.html">Mijn reizen</a>
            </li>
        </ul>
    </div>
</nav>